# Heuristics used to assign the defi_flag

1. DeFiLlama cross-check
If the entity appears in my 16 Jun 2025 DeFiLlama download:

2. Categories DEX, Aggregator, Lending, Yield, Derivatives → DeFi

3. Categories CEX, Custody, Ce-DeFi → Non-DeFi

4. Cateogories Wallets → Defi (after finding contract codes in Etherscan as DEX aggregator or swaps)

5. Handle-style strings (@nickname)
These look like individual users and have no public protocol docs, so they were assigned Non-DeFi / Individual.

6. Resolver contracts
Marked DeFi only when permission-less (e.g., 1inch Fusion resolvers that anyone can call). Private, single-user resolvers would be Non-DeFi, but none of those appeared in this list.

7. Explorer fallback (Etherscan / Solscan)
For names missing from DeFiLlama I opened the address in an explorer:

8. Verified smart-contract code with public financial functions (swap, deposit, bridge …) → DeFi

9. EOA or contract used solely by a CEX / issuer / internal desk → Non-DeFi

10. Also verified by searching entity names in solscan for solana-based entities.

# Save DefiLlama protocals

In [71]:
import requests, json
baseUrl = 'https://api.llama.fi'
protocols = requests.get(baseUrl + '/protocols').json()

In [72]:
import pandas as pd
protocalsData = pd.DataFrame.from_dict(protocols)
protocalsData.info(); protocalsData.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6022 entries, 0 to 6021
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        6022 non-null   object
 1   name                      6022 non-null   object
 2   address                   3313 non-null   object
 3   symbol                    6022 non-null   object
 4   url                       6022 non-null   object
 5   description               6021 non-null   object
 6   chain                     5608 non-null   object
 7   logo                      6022 non-null   object
 8   audits                    6010 non-null   object
 9   audit_note                6 non-null      object
 10  gecko_id                  2011 non-null   object
 11  cmcId                     1579 non-null   object
 12  category                  6022 non-null   object
 13  chains                    6022 non-null   object
 14  module                    6022 non-null   object
 15  twitter                   5926 non-null   object
 16  forkedFrom                3273 non-null   object
 17  listedAt                  5076 non-null   float64
 18  methodology               2101 non-null   object
 19  slug                      6022 non-null   object
 20  tvl                       5713 non-null   float64
 21  chainTvls                 6022 non-null   object
 22  change_1h                 4545 non-null   float64
 23  change_1d                 4532 non-null   float64
 24  change_7d                 4514 non-null   float64
 25  tokenBreakdowns           6022 non-null   object
 26  mcap                      1541 non-null   float64
 27  oraclesBreakdown          772 non-null    object
 28  audit_links               2640 non-null   object
 29  parentProtocol            1430 non-null   object
 30  wrongLiquidity            26 non-null     object
 31  hallmarks                 945 non-null    object
 32  referralUrl               16 non-null     object
 33  treasury                  252 non-null    object
 34  openSource                54 non-null     object
 35  governanceID              196 non-null    object
 36  github                    1382 non-null   object
 37  staking                   1547 non-null   float64
 38  previousNames             83 non-null     object
 39  assetToken                157 non-null    object
 40  tokensExcludedFromParent  35 non-null     object
 41  pool2                     643 non-null    float64
 42  misrepresentedTokens      1765 non-null   object
 43  forkedFromIds             1825 non-null   object
 44  oracles                   252 non-null    object
 45  tags                      94 non-null     object
 46  stablecoins               95 non-null     object
 47  language                  66 non-null     object
 48  deadUrl                   803 non-null    object
 49  deadFrom                  387 non-null    object
 50  rugged                    104 non-null    object
 51  deprecated                11 non-null     object
dtypes: float64(8), object(44)
memory usage: 2.4+ MB

,id,name,address,symbol,url,description,chain,logo,audits,audit_note,...,misrepresentedTokens,forkedFromIds,oracles,tags,stablecoins,language,deadUrl,deadFrom,rugged,deprecated
0,2269,Binance CEX,None,-,https://www.binance.com,Binance is a cryptocurrency exchange which is ...,Multi-Chain,https://icons.llama.fi/binance-cex.jpg,0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2272,OKX,None,-,https://www.okx.com,"OKX, formerly known as OKEx, is a Seychelles-b...",Multi-Chain,https://icons.llama.fi/okx.jpg,0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1599,AAVE V3,0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9,AAVE,https://aave.com,"Earn interest, borrow assets, and build applic...",Multi-Chain,https://icons.llama.fi/aave-v3.png,2,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2275,Bitfinex,None,-,https://www.bitfinex.com,Bitfinex facilitates a graphical trading exper...,Multi-Chain,https://icons.llama.fi/bitfinex.png,0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,182,Lido,0x5a98fcbea516cf06857215779fd812ca3bef1b32,LDO,https://lido.fi/,Liquid staking for Ethereum and Polygon. Daily...,Multi-Chain,https://icons.llama.fi/lido.png,2,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
protocalsData = protocalsData[['name','address','url','category']]
protocalsData.to_excel("../data/processed/DefiLlama_Protocal.xlsx", index=False)

# Load Wintermute Data

In [74]:
import pandas as pd
DF_PATH = "../data/processed/wintermute_transfers_clean.parquet" 
df = pd.read_parquet(DF_PATH)
display(df.info())
display(print(f"df shape: {df.shape}"))
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429648 entries, 0 to 429647
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   timestamp     429648 non-null  object
 1   from_address  429648 non-null  object
 2   from_entity   396923 non-null  object
 3   to_address    429648 non-null  object
 4   to_entity     400231 non-null  object
 5   token         429648 non-null  object
 6   value         429648 non-null  float64
 7   usd           429648 non-null  float64
 8   tx_hash       429648 non-null  object
 9   chain         429648 non-null  object
 10  block_number  429648 non-null  float64
dtypes: float64(3), object(8)
memory usage: 36.1+ MB

None

df shape: (429648, 11)

None

,timestamp,from_address,from_entity,to_address,to_entity,token,value,usd,tx_hash,chain,block_number
0,2025-04-08 12:49:57+00:00,0xb1026b8e7276e7ac75410f1fcbbe21796e8f7526,Camelot,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,USDC,438.108563,438.108563,0x98058c529466064c355bdfea3cfebe399344678f20bb...,arbitrum_one,324218955.0
1,2025-04-08 12:49:54+00:00,0xcda53b1f66614552f834ceef361a8d12a0b8dad8,Uniswap,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,ARB,3837.138536,1062.879700,0x405b146ac6a52b93e5a77760a4b49a87015b5c5e0659...,arbitrum_one,324218945.0
2,2025-04-08 12:49:51+00:00,0xb2cc224c1c9fee385f8ad6a55b4d94e92359dc59,Aerodrome Finance,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,WETH,7.345922,11533.612401,0x7f370fc61bed7241d846c4907a4e616e69ce60ff0192...,base,28663622.0
3,2025-04-08 12:49:51+00:00,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,0x72ab388e2e2f6facef59e3c3fa2c4e29011c2d38,PancakeSwap,USDC,2143.712587,2143.712587,0x88b4fb948e95cc2b9a22c48efe3d6a6788209302e72f...,base,28663622.0
4,2025-04-08 12:49:50+00:00,0x641c00a822e8b671738d32a431a4fb6074e5c79d,Uniswap,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,WETH,0.470011,737.550466,0x39fc603c882c2f5af51b7f8cfc8eb58753f5e42eff94...,arbitrum_one,324218918.0

# Find Unique addresses and entities that Wintermute interacted with

In [75]:
df = df[ df["from_entity"].str.contains("Wintermute", na=False) | df["to_entity"].str.contains("Wintermute", na=False)]
df.shape

(409224, 11)

In [76]:
df_from = df[df['from_entity']!='Wintermute'][['from_address','from_entity']]
df_from = df_from.rename(columns={"from_address": "address", "from_entity": "entity"})

df_to = df[df['to_entity']!='Wintermute'][['to_address','to_entity']]
df_to = df_to.rename(columns={"to_address": "address", "to_entity": "entity"})

df_non_wintermute = (
    pd.concat([df_from, df_to], ignore_index=True)
      .drop_duplicates(subset=["address"])      # keep the first entity you see
      .reset_index(drop=True)
      .sort_values('entity')
)

addresses = df_non_wintermute['address'].dropna().astype(str).unique().tolist()
entities = df_non_wintermute['entity'].dropna().astype(str).unique().tolist()

with open("../result/addresses.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(addresses))
with open("../result/entities.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(entities))

In [77]:
df_non_wintermute.head()

                                         address entity
407   0x0d0e364aa7852291883c162b22d6d81f6355428f     0x
656   0xdef1c0ded9bec7f1a1670819833240f027b25eff     0x
665   0x9ed181da6b359c3ee23c1d6912a6b4b0c349a165     0x
222   0x22f9dcf4647084d6c31b2765f6910cd85c178c18     0x
3569  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f  1inch

# Classify into defi and non-defi

In [78]:
defi_entities = [
    "0x", "1inch", "Aerodrome Finance", "Arctic Bastion (1inch Resolver)",
    "Bebop", "Camelot", "CoW Protocol", "Curve.fi", 
    "Ethena", "Fluid (Instadapp)", "Kyber Network", "LiFi", 
    "Lifinity", "Meteora (Prev. Mercurial)", "Orca", "PancakeSwap",
    "ParaSwap", "Phoenix", "Raydium", "Rizzolver (Wintermute)",
    "ShibaSwap", "Sky (MakerDAO)", "SushiSwap", "Jito", 
    "Odos", "The T Resolver (1inch Resolver)", "Uniswap", "Unizen", 
    "Velodrome Finance", "Zerion", "MetaMask", "Rainbow.me",
]

non_defi_entities = [
    "@AnonPartTime", "@BinarySaga_", "@CipherCraze55", "@CipherNebulae",
    "@CryptoChamp87", "@IceSapp45", "@IshaanLlc", "@MatDefies",
    "@MrBigTimeCEO", "@NebulaVista99", "@RiceFarmerNFT", "@SolanaSeeker",
    "@SolsticeVault", "@TheCheckedBid33", "@TrueNFT33", "@Xaoxin_Ka",
    "@averagecontract", "@bitcocks", "@chris900eth", "@chuddybot",
    "@ec1ipse_sol", "@eiiriknft", "@glatebois", "@imCryptoGoku",
    "@inicola86", "@itzTenzy_", "@larutadeclau", "@quantumEVM18",
    "@shift_cipher", "@thesoloistx", "@tonydanv", "@yo_ji12345",
    
    "Backpack Exchange", "Binance", "BitMart", "Bitfinex", "Bitstamp",
    "Bitvavo", "Bullish.com", "Bybit", "Circle", "Coinbase", "Coinhako",
    "Crypto.com", "Erick @EB7", "Gate.io", "Kraken", "KuCoin", "OKX",
    "Paxos", "rsync-builder"
]

with open("../result/defi_entities.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(defi_entities))
with open("../result/non_defi_entities.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(non_defi_entities))

In [79]:
defi_true = defi_entities.copy()
defi_true.append("Wintermute")
df_defi = df[df["from_entity"].isin(defi_true) & df["to_entity"].isin(defi_true)].copy()
display(print(f"df_defi shape: {df_defi.shape}"))
display(df_defi.head())

df_defi shape: (366250, 11)

None

,timestamp,from_address,from_entity,to_address,to_entity,token,value,usd,tx_hash,chain,block_number
0,2025-04-08 12:49:57+00:00,0xb1026b8e7276e7ac75410f1fcbbe21796e8f7526,Camelot,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,USDC,438.108563,438.108563,0x98058c529466064c355bdfea3cfebe399344678f20bb...,arbitrum_one,324218955.0
1,2025-04-08 12:49:54+00:00,0xcda53b1f66614552f834ceef361a8d12a0b8dad8,Uniswap,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,ARB,3837.138536,1062.879700,0x405b146ac6a52b93e5a77760a4b49a87015b5c5e0659...,arbitrum_one,324218945.0
2,2025-04-08 12:49:51+00:00,0xb2cc224c1c9fee385f8ad6a55b4d94e92359dc59,Aerodrome Finance,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,WETH,7.345922,11533.612401,0x7f370fc61bed7241d846c4907a4e616e69ce60ff0192...,base,28663622.0
3,2025-04-08 12:49:51+00:00,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,0x72ab388e2e2f6facef59e3c3fa2c4e29011c2d38,PancakeSwap,USDC,2143.712587,2143.712587,0x88b4fb948e95cc2b9a22c48efe3d6a6788209302e72f...,base,28663622.0
4,2025-04-08 12:49:50+00:00,0x641c00a822e8b671738d32a431a4fb6074e5c79d,Uniswap,0x51c72848c68a965f66fa7a88855f9f7784502a7f,Wintermute,WETH,0.470011,737.550466,0x39fc603c882c2f5af51b7f8cfc8eb58753f5e42eff94...,arbitrum_one,324218918.0

# Save transactions data happened in defi

In [80]:
df_defi.to_parquet("../data/processed/wintermute_transfers_clean_defi.parquet", index=False)

# Save Unique addresses and entities

In [81]:
df_non_wintermute.to_excel("../data/processed/unique_addresses_entities.xlsx", index=False)